<h1>My tasks</h1>

<% @tasks.each do |task| %>

  <% if task.completed %>
    <%= link_to task_path(task) do %>
      <p><%="[X] #{task.title} " %></p>
    <% end %>
  <% else %>
    <%= link_to task_path(task) do %>
      <p><%="[ ] #{task.title} " %></p>
    <% end %>
  <% end %>

<% end %>

<%= link_to "Add New Task", new_path %>
